In [137]:
import pandas as pd
import numpy  as np

In [138]:
train_df = pd.read_csv('city_day.csv/city_day.csv')

In [139]:
train_df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [140]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
City          29531 non-null object
Date          29531 non-null object
PM2.5         24933 non-null float64
PM10          18391 non-null float64
NO            25949 non-null float64
NO2           25946 non-null float64
NOx           25346 non-null float64
NH3           19203 non-null float64
CO            27472 non-null float64
SO2           25677 non-null float64
O3            25509 non-null float64
Benzene       23908 non-null float64
Toluene       21490 non-null float64
Xylene        11422 non-null float64
AQI           24850 non-null float64
AQI_Bucket    24850 non-null object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [141]:
train_df.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [142]:
train_df['PM2.5'].fillna(np.mean(train_df['PM2.5']),inplace=True)
train_df['PM10'].fillna(np.mean(train_df['PM10']),inplace=True)
train_df['NO'].fillna(np.mean(train_df['NO']),inplace=True)
train_df['NO2'].fillna(np.mean(train_df['NO2']),inplace=True)
train_df['NOx'].fillna(np.mean(train_df['NOx']),inplace=True)
train_df['NH3'].fillna(np.mean(train_df['NH3']),inplace=True)
train_df['CO'].fillna(np.mean(train_df['CO']),inplace=True)
train_df['SO2'].fillna(np.mean(train_df['SO2']),inplace=True)
train_df['O3'].fillna(np.mean(train_df['O3']),inplace=True)
train_df['Benzene'].fillna(np.mean(train_df['Benzene']),inplace=True)
train_df['Toluene'].fillna(np.mean(train_df['Toluene']),inplace=True)
train_df['Xylene'].fillna(np.mean(train_df['Xylene']),inplace=True)
train_df['AQI'].fillna(np.mean(train_df['AQI']),inplace=True)

In [143]:
train_df['day']=pd.to_datetime(train_df.Date,format="%Y-%m-%d").dt.day
train_df['month']=pd.to_datetime(train_df.Date,format="%Y-%m-%d").dt.month
train_df['year']=pd.to_datetime(train_df.Date,format="%Y-%m-%d").dt.year

In [144]:
train_df.drop(['Date','City','AQI_Bucket'],axis=1,inplace=True)

In [145]:
train_df=train_df.round(decimals=3)

In [146]:
train_df

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,day,month,year
0,67.451,118.127,0.92,18.22,17.15,23.483,0.92,27.64,133.36,0.000,0.020,0.00,166.464,1,1,2015
1,67.451,118.127,0.97,15.69,16.46,23.483,0.97,24.55,34.06,3.680,5.500,3.77,166.464,2,1,2015
2,67.451,118.127,17.40,19.30,29.70,23.483,17.40,29.07,30.70,6.800,16.400,2.25,166.464,3,1,2015
3,67.451,118.127,1.70,18.48,17.97,23.483,1.70,18.59,36.08,4.430,10.140,1.00,166.464,4,1,2015
4,67.451,118.127,22.10,21.42,37.76,23.483,22.10,39.33,39.31,7.010,18.890,2.78,166.464,5,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,15.020,50.940,7.68,25.06,19.54,12.470,0.47,8.55,23.30,2.240,12.070,0.73,41.000,27,6,2020
29527,24.380,74.090,3.42,26.06,16.53,11.990,0.52,12.72,30.14,0.740,2.210,0.38,70.000,28,6,2020
29528,22.910,65.730,3.45,29.53,18.33,10.710,0.48,8.42,30.96,0.010,0.010,0.00,68.000,29,6,2020
29529,16.640,49.970,4.05,29.26,18.80,10.030,0.52,9.84,28.30,0.000,0.000,0.00,54.000,30,6,2020
29530,15.000,66.000,0.40,26.85,14.05,5.200,0.59,2.10,17.05,3.281,8.701,3.07,50.000,1,7,2020

In [147]:
train_df.columns

Index(['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3',
       'Benzene', 'Toluene', 'Xylene', 'AQI', 'day', 'month', 'year'],
      dtype='object')

In [148]:
X = train_df[['PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3',
       'Benzene', 'Toluene', 'Xylene','day','month','year']]
y = train_df['PM2.5']

In [149]:
X,y

(          PM10     NO    NO2    NOx     NH3     CO    SO2      O3  Benzene  \
 0      118.127   0.92  18.22  17.15  23.483   0.92  27.64  133.36    0.000
 1      118.127   0.97  15.69  16.46  23.483   0.97  24.55   34.06    3.680
 2      118.127  17.40  19.30  29.70  23.483  17.40  29.07   30.70    6.800
 3      118.127   1.70  18.48  17.97  23.483   1.70  18.59   36.08    4.430
 4      118.127  22.10  21.42  37.76  23.483  22.10  39.33   39.31    7.010
 ...        ...    ...    ...    ...     ...    ...    ...     ...      ...
 29526   50.940   7.68  25.06  19.54  12.470   0.47   8.55   23.30    2.240
 29527   74.090   3.42  26.06  16.53  11.990   0.52  12.72   30.14    0.740
 29528   65.730   3.45  29.53  18.33  10.710   0.48   8.42   30.96    0.010
 29529   49.970   4.05  29.26  18.80  10.030   0.52   9.84   28.30    0.000
 29530   66.000   0.40  26.85  14.05   5.200   0.59   2.10   17.05    3.281

        Toluene  Xylene  day  month  year
 0        0.020    0.00    1      1  2015
 1        5.500    3.77    2      1  2015
 2       16.400    2.25    3      1  2015
 3       10.140    1.00    4      1  2015
 4       18.890    2.78    5      1  2015
 ...        ...     ...  ...    ...   ...
 29526   12.070    0.73   27      6  2020
 29527    2.210    0.38   28      6  2020
 29528    0.010    0.00   29      6  2020
 29529    0.000    0.00   30      6  2020
 29530    8.701    3.07    1      7  2020

 [29531 rows x 14 columns], 0        67.451
 1        67.451
 2        67.451
 3        67.451
 4        67.451
           ...
 29526    15.020
 29527    24.380
 29528    22.910
 29529    16.640
 29530    15.000
 Name: PM2.5, Length: 29531, dtype: float64)

In [150]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=0)

In [151]:
from sklearn.ensemble import RandomForestRegressor
rfc = RandomForestRegressor(n_estimators = 150,random_state = 0)
rfc.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [152]:
import math
y_pred = rfc.predict(X_test)
y_pred=y_pred.round(decimals=3)
from sklearn.metrics import r2_score,mean_squared_error
print(r2_score(y_test,y_pred))
print(math.sqrt(mean_squared_error(np.array(y_test),y_pred)))

0.7603435561053249
27.943850058359445

In [153]:
np.array(y_test)

array([191.5 ,  65.64,  66.04, ...,  73.24,  41.37,  54.54])

In [154]:
print(y_pred)

[244.786  83.908  69.532 ...  84.483  80.356  61.422]

In [155]:
def air_condition(pm_conc):
    if pm_conc<=12.0:
        print("AQI level is Between 0 to 50")
        print("Good Weather Conditions")
    elif pm_conc>12.1 and pm_conc<=35.4:
        print("AQI level is Between 51 to 100")
        print("Moderate Weather Conditions")
    elif pm_conc>35.5 and pm_conc<=55.4:
        print("AQI level is Between 101 to 150")
        print("Unhealthy Weather Conditions for Older Age Groups")
    elif pm_conc>55.5 and pm_conc<=150.4:
        print("AQI level is Between 151 to 200")
        print("Unhealthy Weather Conditions")
    elif pm_conc>150.5 and pm_conc<=250.4:
        print("AQI level is Between 201 to 300")
        print("Very Unhealthy Weather Conditions")
    else:
        print("AQI level is Above 300")
        print("Hazardous Weather Conditions")

In [160]:
#testing
wth = [['100','4','20','0.2','10.6','0.5','15.3','12.4','0.002','0.0005','1.005','9','10','2020']]

In [161]:
pm_pred = rfc.predict(wth)
print(pm_pred)
air_condition(pm_pred)

[50.46768667]
AQI level is Between 101 to 150
Unhealthy Weather Conditions for Older Age Groups