In [127]:
import pandas as pd
import numpy  as np

In [128]:
train_df = pd.read_excel('mysore_city_data.xlsx')

In [129]:
train_df

,Temperature,Humidity,Gas,CO,NH3,Date,PM 2.5 (ug/m3),PM10
0,31.0,64.0,45.000000,0.340000,47.0,2022-06-16,5.000000,3
1,31.0,63.0,48.000000,0.590000,28.0,2022-06-16,5.000000,3
2,31.0,63.0,58.000000,0.340000,29.0,2022-06-16,5.000000,3
3,31.0,63.0,48.000000,0.680000,31.0,2022-06-16,7.000000,4
4,31.0,63.0,42.000000,0.320000,26.0,2022-06-16,7.000000,4
...,...,...,...,...,...,...,...,...
4529,30.0,64.0,38.000000,0.530000,18.0,2022-06-17,13.000000,10
4530,30.0,64.0,42.000000,0.290000,37.0,2022-06-17,13.000000,10
4531,30.0,64.0,53.000000,0.220000,26.0,2022-06-17,13.000000,10
4532,30.0,64.0,49.000000,0.280000,37.0,2022-06-17,13.000000,10
4533,30.0,64.0,46.306294,0.444436,37.0,2022-06-17,22.536731,10

In [130]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4534 entries, 0 to 4533
Data columns (total 8 columns):
Temperature       4528 non-null float64
Humidity          4528 non-null float64
Gas               4528 non-null float64
CO                4528 non-null float64
NH3               4528 non-null float64
Date              4534 non-null datetime64[ns]
PM 2.5 (ug/m3)    4534 non-null float64
PM10              4534 non-null int64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 283.5 KB

In [131]:
train_df.isnull().sum()

Temperature       6
Humidity          6
Gas               6
CO                6
NH3               6
Date              0
PM 2.5 (ug/m3)    0
PM10              0
dtype: int64

In [132]:
#train_df['PM2.5'].fillna(np.mean(train_df['PM2.5']),inplace=True)
#train_df['PM10'].fillna(np.mean(train_df['PM10']),inplace=True)
#train_df['NO'].fillna(np.mean(train_df['NO']),inplace=True)
#train_df['NO2'].fillna(np.mean(train_df['NO2']),inplace=True)
#train_df['NOx'].fillna(np.mean(train_df['NOx']),inplace=True)
train_df['NH3'].fillna(np.mean(train_df['NH3']),inplace=True)
train_df['CO'].fillna(np.mean(train_df['CO']),inplace=True)
#train_df['SO2'].fillna(np.mean(train_df['SO2']),inplace=True)
#train_df['O3'].fillna(np.mean(train_df['O3']),inplace=True)
#train_df['Benzene'].fillna(np.mean(train_df['Benzene']),inplace=True)
#train_df['Toluene'].fillna(np.mean(train_df['Toluene']),inplace=True)
#train_df['Xylene'].fillna(np.mean(train_df['Xylene']),inplace=True)
#train_df['AQI'].fillna(np.mean(train_df['AQI']),inplace=True)
train_df['Temperature'].fillna(np.mean(train_df['Temperature']),inplace=True)
train_df['Humidity'].fillna(np.mean(train_df['Humidity']),inplace=True)
train_df['Gas'].fillna(np.mean(train_df['Gas']),inplace=True)

In [133]:
train_df['day']=pd.to_datetime(train_df.Date,format="%d-%m-%Y").dt.day
train_df['month']=pd.to_datetime(train_df.Date,format="%d-%m-%Y").dt.month
train_df['year']=pd.to_datetime(train_df.Date,format="%d-%m-%Y").dt.year

In [134]:
train_df.drop(['Date'],axis=1,inplace=True)

In [135]:
train_df=train_df.round(decimals=3)

In [136]:
train_df

,Temperature,Humidity,Gas,CO,NH3,PM 2.5 (ug/m3),PM10,day,month,year
0,31.0,64.0,45.000,0.340,47.0,5.000,3,16,6,2022
1,31.0,63.0,48.000,0.590,28.0,5.000,3,16,6,2022
2,31.0,63.0,58.000,0.340,29.0,5.000,3,16,6,2022
3,31.0,63.0,48.000,0.680,31.0,7.000,4,16,6,2022
4,31.0,63.0,42.000,0.320,26.0,7.000,4,16,6,2022
...,...,...,...,...,...,...,...,...,...,...
4529,30.0,64.0,38.000,0.530,18.0,13.000,10,17,6,2022
4530,30.0,64.0,42.000,0.290,37.0,13.000,10,17,6,2022
4531,30.0,64.0,53.000,0.220,26.0,13.000,10,17,6,2022
4532,30.0,64.0,49.000,0.280,37.0,13.000,10,17,6,2022
4533,30.0,64.0,46.306,0.444,37.0,22.537,10,17,6,2022

In [137]:
train_df.columns

Index(['Temperature', 'Humidity', 'Gas', 'CO', 'NH3', 'PM 2.5 (ug/m3)', 'PM10',
       'day', 'month', 'year'],
      dtype='object')

In [138]:
X = train_df[[ 'Temperature', 'Humidity', 'Gas', 'CO', 'NH3','day','month', 'year']]
y = train_df['PM 2.5 (ug/m3)']

In [139]:
X,y

(      Temperature  Humidity     Gas     CO   NH3  day  month  year
 0            31.0      64.0  45.000  0.340  47.0   16      6  2022
 1            31.0      63.0  48.000  0.590  28.0   16      6  2022
 2            31.0      63.0  58.000  0.340  29.0   16      6  2022
 3            31.0      63.0  48.000  0.680  31.0   16      6  2022
 4            31.0      63.0  42.000  0.320  26.0   16      6  2022
 ...           ...       ...     ...    ...   ...  ...    ...   ...
 4529         30.0      64.0  38.000  0.530  18.0   17      6  2022
 4530         30.0      64.0  42.000  0.290  37.0   17      6  2022
 4531         30.0      64.0  53.000  0.220  26.0   17      6  2022
 4532         30.0      64.0  49.000  0.280  37.0   17      6  2022
 4533         30.0      64.0  46.306  0.444  37.0   17      6  2022

 [4534 rows x 8 columns], 0        5.000
 1        5.000
 2        5.000
 3        7.000
 4        7.000
          ...
 4529    13.000
 4530    13.000
 4531    13.000
 4532    13.000
 4533    22.537
 Name: PM 2.5 (ug/m3), Length: 4534, dtype: float64)

In [140]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=0)

In [141]:
from sklearn.ensemble import RandomForestRegressor
rfc = RandomForestRegressor(n_estimators = 150,random_state = 0)
rfc.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [142]:
import math
y_pred = rfc.predict(X_test)
y_pred=y_pred.round(decimals=3)
from sklearn.metrics import r2_score,mean_squared_error
print(r2_score(y_test,y_pred))
print(math.sqrt(mean_squared_error(np.array(y_test),y_pred)))

0.251167225696046
15.230376290913593

In [143]:
np.array(y_test)

array([32., 36., 20., ..., 13., 22., 15.])

In [144]:
print(y_pred)

[26.876 27.777 28.106 ... 15.413 26.46  14.238]

In [145]:
def air_condition(pm_conc):
    if pm_conc<=12.0:
        print("AQI level is Between 0 to 50")
        print("Good Weather Conditions")
    elif pm_conc>12.1 and pm_conc<=35.4:
        print("AQI level is Between 51 to 100")
        print("Moderate Weather Conditions")
    elif pm_conc>35.5 and pm_conc<=55.4:
        print("AQI level is Between 101 to 150")
        print("Unhealthy Weather Conditions for Older Age Groups")
    elif pm_conc>55.5 and pm_conc<=150.4:
        print("AQI level is Between 151 to 200")
        print("Unhealthy Weather Conditions")
    elif pm_conc>150.5 and pm_conc<=250.4:
        print("AQI level is Between 201 to 300")
        print("Very Unhealthy Weather Conditions")
    else:
        print("AQI level is Above 300")
        print("Hazardous Weather Conditions")