In [97]:
import pandas as pd
import numpy  as np

In [98]:
train_df = pd.read_csv('mysore_data.csv')

In [99]:
train_df

      Temperature  Humidity   Gas    CO   NH3       Date  PM 2.5 (ug/m3)
0            31.0      64.0  45.0  0.34  47.0 2022-06-16               5
1            31.0      63.0  48.0  0.59  28.0 2022-06-16               5
2            31.0      63.0  58.0  0.34  29.0 2022-06-16               5
3            31.0      63.0  48.0  0.68  31.0 2022-06-16               7
4            31.0      63.0  42.0  0.32  26.0 2022-06-16               7
...           ...       ...   ...   ...   ...        ...             ...
4528         30.0      64.0  37.0  0.61  33.0 2022-06-17              13
4529         30.0      64.0  38.0  0.53  18.0 2022-06-17              13
4530         30.0      64.0  42.0  0.29  37.0 2022-06-17              13
4531         30.0      64.0  53.0  0.22  26.0 2022-06-17              13
4532         30.0      64.0  49.0  0.28  37.0 2022-06-17              13

[4533 rows x 7 columns]

In [100]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4533 entries, 0 to 4532
Data columns (total 7 columns):
Temperature       4527 non-null float64
Humidity          4527 non-null float64
Gas               4527 non-null float64
CO                4527 non-null float64
NH3               4527 non-null float64
Date              4533 non-null datetime64[ns]
PM 2.5 (ug/m3)    4533 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 248.0 KB

In [104]:
train_df.isnull().sum()

Temperature       0
Humidity          0
Gas               0
CO                0
NH3               0
Date              0
PM 2.5 (ug/m3)    0
dtype: int64

In [103]:
#train_df['PM2.5'].fillna(np.mean(train_df['PM2.5']),inplace=True)
#train_df['PM10'].fillna(np.mean(train_df['PM10']),inplace=True)
#train_df['NO'].fillna(np.mean(train_df['NO']),inplace=True)
#train_df['NO2'].fillna(np.mean(train_df['NO2']),inplace=True)
#train_df['NOx'].fillna(np.mean(train_df['NOx']),inplace=True)
train_df['NH3'].fillna(np.mean(train_df['NH3']),inplace=True)
train_df['CO'].fillna(np.mean(train_df['CO']),inplace=True)
#train_df['SO2'].fillna(np.mean(train_df['SO2']),inplace=True)
#train_df['O3'].fillna(np.mean(train_df['O3']),inplace=True)
#train_df['Benzene'].fillna(np.mean(train_df['Benzene']),inplace=True)
#train_df['Toluene'].fillna(np.mean(train_df['Toluene']),inplace=True)
#train_df['Xylene'].fillna(np.mean(train_df['Xylene']),inplace=True)
#train_df['AQI'].fillna(np.mean(train_df['AQI']),inplace=True)
train_df['Temperature'].fillna(np.mean(train_df['Temperature']),inplace=True)
train_df['Humidity'].fillna(np.mean(train_df['Humidity']),inplace=True)
train_df['Gas'].fillna(np.mean(train_df['Gas']),inplace=True)

In [105]:
train_df['day']=pd.to_datetime(train_df.Date,format="%d-%m-%Y").dt.day
train_df['month']=pd.to_datetime(train_df.Date,format="%d-%m-%Y").dt.month
train_df['year']=pd.to_datetime(train_df.Date,format="%d-%m-%Y").dt.year

In [106]:
train_df.drop(['Date'],axis=1,inplace=True)

In [107]:
train_df=train_df.round(decimals=3)

In [108]:
train_df

,Temperature,Humidity,Gas,CO,NH3,PM 2.5 (ug/m3),day,month,year
0,31.0,64.0,45.0,0.34,47.0,5,16,6,2022
1,31.0,63.0,48.0,0.59,28.0,5,16,6,2022
2,31.0,63.0,58.0,0.34,29.0,5,16,6,2022
3,31.0,63.0,48.0,0.68,31.0,7,16,6,2022
4,31.0,63.0,42.0,0.32,26.0,7,16,6,2022
...,...,...,...,...,...,...,...,...,...
4528,30.0,64.0,37.0,0.61,33.0,13,17,6,2022
4529,30.0,64.0,38.0,0.53,18.0,13,17,6,2022
4530,30.0,64.0,42.0,0.29,37.0,13,17,6,2022
4531,30.0,64.0,53.0,0.22,26.0,13,17,6,2022
4532,30.0,64.0,49.0,0.28,37.0,13,17,6,2022

In [109]:
train_df.columns

Index(['Temperature', 'Humidity', 'Gas', 'CO', 'NH3', 'PM 2.5 (ug/m3)', 'day',
       'month', 'year'],
      dtype='object')

In [110]:
X = train_df[[ 'Temperature', 'Humidity', 'Gas', 'CO', 'NH3','day','month', 'year']]
y = train_df['PM 2.5 (ug/m3)']

In [111]:
X,y

(      Temperature  Humidity   Gas    CO   NH3  day  month  year
 0            31.0      64.0  45.0  0.34  47.0   16      6  2022
 1            31.0      63.0  48.0  0.59  28.0   16      6  2022
 2            31.0      63.0  58.0  0.34  29.0   16      6  2022
 3            31.0      63.0  48.0  0.68  31.0   16      6  2022
 4            31.0      63.0  42.0  0.32  26.0   16      6  2022
 ...           ...       ...   ...   ...   ...  ...    ...   ...
 4528         30.0      64.0  37.0  0.61  33.0   17      6  2022
 4529         30.0      64.0  38.0  0.53  18.0   17      6  2022
 4530         30.0      64.0  42.0  0.29  37.0   17      6  2022
 4531         30.0      64.0  53.0  0.22  26.0   17      6  2022
 4532         30.0      64.0  49.0  0.28  37.0   17      6  2022

 [4533 rows x 8 columns], 0        5
 1        5
 2        5
 3        7
 4        7
         ..
 4528    13
 4529    13
 4530    13
 4531    13
 4532    13
 Name: PM 2.5 (ug/m3), Length: 4533, dtype: int64)

In [112]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=0)

In [113]:
from sklearn.ensemble import RandomForestRegressor
rfc = RandomForestRegressor(n_estimators = 150,random_state = 0)
rfc.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [114]:
import math
y_pred = rfc.predict(X_test)
y_pred=y_pred.round(decimals=3)
from sklearn.metrics import r2_score,mean_squared_error
print(r2_score(y_test,y_pred))
print(math.sqrt(mean_squared_error(np.array(y_test),y_pred)))

0.20611069938535165
15.653508959348082

In [115]:
np.array(y_test)

array([32, 36, 66, ..., 12, 14, 27], dtype=int64)

In [116]:
print(y_pred)

[24.896 25.96  47.736 ... 14.293 14.266 23.628]

In [117]:
def air_condition(pm_conc):
    if pm_conc<=12.0:
        print("AQI level is Between 0 to 50")
        print("Good Weather Conditions")
    elif pm_conc>12.1 and pm_conc<=35.4:
        print("AQI level is Between 51 to 100")
        print("Moderate Weather Conditions")
    elif pm_conc>35.5 and pm_conc<=55.4:
        print("AQI level is Between 101 to 150")
        print("Unhealthy Weather Conditions for Older Age Groups")
    elif pm_conc>55.5 and pm_conc<=150.4:
        print("AQI level is Between 151 to 200")
        print("Unhealthy Weather Conditions")
    elif pm_conc>150.5 and pm_conc<=250.4:
        print("AQI level is Between 201 to 300")
        print("Very Unhealthy Weather Conditions")
    else:
        print("AQI level is Above 300")
        print("Hazardous Weather Conditions")