In [1]:
import pandas as pd
import numpy  as np

In [2]:
train_df = pd.read_csv('mysore_data.csv')

In [3]:
train_df

     Temperature  Humidity  Gas    CO  NH3        Date  PM 2.5 (ug/m3)
0             31        64   45  0.34   47  2022-06-16               5
1             31        63   48  0.59   28  2022-06-16               5
2             31        63   58  0.34   29  2022-06-16               5
3             31        63   48  0.68   31  2022-06-16               7
4             31        63   42  0.32   26  2022-06-16               7
..           ...       ...  ...   ...  ...         ...             ...
144           29        81   56  0.84   37  2022-06-16               2
145           29        81   58  0.68   43  2022-06-16               2
146           29        81   45  0.47   39  2022-06-16               3
147           29        81   60  0.59   27  2022-06-16               3
148           29        81   56  0.39   26  2022-06-16               3

[149 rows x 7 columns]

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 7 columns):
Temperature       149 non-null int64
Humidity          149 non-null int64
Gas               149 non-null int64
CO                149 non-null float64
NH3               149 non-null int64
Date              149 non-null object
PM 2.5 (ug/m3)    149 non-null int64
dtypes: float64(1), int64(5), object(1)
memory usage: 8.3+ KB

In [5]:
train_df.isnull().sum()

Temperature       0
Humidity          0
Gas               0
CO                0
NH3               0
Date              0
PM 2.5 (ug/m3)    0
dtype: int64

In [6]:
train_df['PM2.5'].fillna(np.mean(train_df['PM2.5']),inplace=True)
train_df['PM10'].fillna(np.mean(train_df['PM10']),inplace=True)
train_df['NO'].fillna(np.mean(train_df['NO']),inplace=True)
train_df['NO2'].fillna(np.mean(train_df['NO2']),inplace=True)
train_df['NOx'].fillna(np.mean(train_df['NOx']),inplace=True)
train_df['NH3'].fillna(np.mean(train_df['NH3']),inplace=True)
train_df['CO'].fillna(np.mean(train_df['CO']),inplace=True)
train_df['SO2'].fillna(np.mean(train_df['SO2']),inplace=True)
train_df['O3'].fillna(np.mean(train_df['O3']),inplace=True)
train_df['Benzene'].fillna(np.mean(train_df['Benzene']),inplace=True)
train_df['Toluene'].fillna(np.mean(train_df['Toluene']),inplace=True)
train_df['Xylene'].fillna(np.mean(train_df['Xylene']),inplace=True)
train_df['AQI'].fillna(np.mean(train_df['AQI']),inplace=True)

KeyError: 'PM2.5'

In [7]:
train_df['day']=pd.to_datetime(train_df.Date,format="%Y-%m-%d").dt.day
train_df['month']=pd.to_datetime(train_df.Date,format="%Y-%m-%d").dt.month
train_df['year']=pd.to_datetime(train_df.Date,format="%Y-%m-%d").dt.year

In [8]:
train_df.drop(['Date','City','AQI_Bucket'],axis=1,inplace=True)

KeyError: "['City' 'AQI_Bucket'] not found in axis"

In [9]:
train_df=train_df.round(decimals=3)

In [10]:
train_df

,Temperature,Humidity,Gas,CO,NH3,Date,PM 2.5 (ug/m3),day,month,year
0,31,64,45,0.34,47,2022-06-16,5,16,6,2022
1,31,63,48,0.59,28,2022-06-16,5,16,6,2022
2,31,63,58,0.34,29,2022-06-16,5,16,6,2022
3,31,63,48,0.68,31,2022-06-16,7,16,6,2022
4,31,63,42,0.32,26,2022-06-16,7,16,6,2022
...,...,...,...,...,...,...,...,...,...,...
144,29,81,56,0.84,37,2022-06-16,2,16,6,2022
145,29,81,58,0.68,43,2022-06-16,2,16,6,2022
146,29,81,45,0.47,39,2022-06-16,3,16,6,2022
147,29,81,60,0.59,27,2022-06-16,3,16,6,2022
148,29,81,56,0.39,26,2022-06-16,3,16,6,2022

In [11]:
train_df.columns

Index(['Temperature', 'Humidity', 'Gas', 'CO', 'NH3', 'Date', 'PM 2.5 (ug/m3)',
       'day', 'month', 'year'],
      dtype='object')

In [148]:
X = train_df[['Temperature', 'Humidity', 'Gas', 'CO', 'NH3', 'Date',
       'day', 'month', 'year']]
y = train_df['PM 2.5 (ug/m3)']

In [149]:
X,y

(          PM10     NO    NO2    NOx     NH3     CO    SO2      O3  Benzene  \
 0      118.127   0.92  18.22  17.15  23.483   0.92  27.64  133.36    0.000
 1      118.127   0.97  15.69  16.46  23.483   0.97  24.55   34.06    3.680
 2      118.127  17.40  19.30  29.70  23.483  17.40  29.07   30.70    6.800
 3      118.127   1.70  18.48  17.97  23.483   1.70  18.59   36.08    4.430
 4      118.127  22.10  21.42  37.76  23.483  22.10  39.33   39.31    7.010
 ...        ...    ...    ...    ...     ...    ...    ...     ...      ...
 29526   50.940   7.68  25.06  19.54  12.470   0.47   8.55   23.30    2.240
 29527   74.090   3.42  26.06  16.53  11.990   0.52  12.72   30.14    0.740
 29528   65.730   3.45  29.53  18.33  10.710   0.48   8.42   30.96    0.010
 29529   49.970   4.05  29.26  18.80  10.030   0.52   9.84   28.30    0.000
 29530   66.000   0.40  26.85  14.05   5.200   0.59   2.10   17.05    3.281

        Toluene  Xylene  day  month  year
 0        0.020    0.00    1      1  2015
 1        5.500    3.77    2      1  2015
 2       16.400    2.25    3      1  2015
 3       10.140    1.00    4      1  2015
 4       18.890    2.78    5      1  2015
 ...        ...     ...  ...    ...   ...
 29526   12.070    0.73   27      6  2020
 29527    2.210    0.38   28      6  2020
 29528    0.010    0.00   29      6  2020
 29529    0.000    0.00   30      6  2020
 29530    8.701    3.07    1      7  2020

 [29531 rows x 14 columns], 0        67.451
 1        67.451
 2        67.451
 3        67.451
 4        67.451
           ...
 29526    15.020
 29527    24.380
 29528    22.910
 29529    16.640
 29530    15.000
 Name: PM2.5, Length: 29531, dtype: float64)

In [150]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=0)

In [151]:
from sklearn.ensemble import RandomForestRegressor
rfc = RandomForestRegressor(n_estimators = 150,random_state = 0)
rfc.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [152]:
import math
y_pred = rfc.predict(X_test)
y_pred=y_pred.round(decimals=3)
from sklearn.metrics import r2_score,mean_squared_error
print(r2_score(y_test,y_pred))
print(math.sqrt(mean_squared_error(np.array(y_test),y_pred)))

0.7603435561053249
27.943850058359445

In [153]:
np.array(y_test)

array([191.5 ,  65.64,  66.04, ...,  73.24,  41.37,  54.54])

In [154]:
print(y_pred)

[244.786  83.908  69.532 ...  84.483  80.356  61.422]

In [155]:
def air_condition(pm_conc):
    if pm_conc<=12.0:
        print("AQI level is Between 0 to 50")
        print("Good Weather Conditions")
    elif pm_conc>12.1 and pm_conc<=35.4:
        print("AQI level is Between 51 to 100")
        print("Moderate Weather Conditions")
    elif pm_conc>35.5 and pm_conc<=55.4:
        print("AQI level is Between 101 to 150")
        print("Unhealthy Weather Conditions for Older Age Groups")
    elif pm_conc>55.5 and pm_conc<=150.4:
        print("AQI level is Between 151 to 200")
        print("Unhealthy Weather Conditions")
    elif pm_conc>150.5 and pm_conc<=250.4:
        print("AQI level is Between 201 to 300")
        print("Very Unhealthy Weather Conditions")
    else:
        print("AQI level is Above 300")
        print("Hazardous Weather Conditions")

In [160]:
#testing
wth = [['100','4','20','0.2','10.6','0.5','15.3','12.4','0.002','0.0005','1.005','9','10','2020']]

In [161]:
pm_pred = rfc.predict(wth)
print(pm_pred)
air_condition(pm_pred)

[50.46768667]
AQI level is Between 101 to 150
Unhealthy Weather Conditions for Older Age Groups